:root {
--avatar-opacity-disabled: var(--opacity-disabled);
--card-selection-background-color: var(--gray-100);
--card-selection-background-color-opacity: 0.95;
--coach-mark-pagination-color: var(--gray-600);
--color-area-border-color: var(--gray-900);
--color-area-border-opacity: 0.1;
--color-handle-drop-shadow-color: var(--drop-shadow-color);
--color-handle-inner-border-color: var(--black);
--color-handle-inner-border-opacity: 0.42;
--color-handle-outer-border-color: var(--black);
--color-handle-outer-border-opacity: var(--color-handle-inner-border-opacity);
--color-loupe-drop-shadow-color: var(--transparent-black-300);
--color-loupe-inner-border: var(--transparent-black-200);
--color-loupe-outer-border: var(--white);
--color-slider-border-color: var(--gray-900);
--color-slider-border-opacity: 0.1;
--drop-zone-background-color: var(--accent-visual-color);
--drop-zone-background-color-opacity: 0.1;
--drop-zone-background-color-opacity-filled: 0.3;
--floating-action-button-drop-shadow-color: var(--transparent-black-300);
--floating-action-button-shadow-color: var(--floating-action-button-drop-shadow-color);
--opacity-checkerboard-square-dark: var(--gray-800);
--opacity-checkerboard-square-light: var(--white);
--swatch-border-color: var(--gray-900);
--swatch-border-opacity: 0.51;
--swatch-disabled-icon-border-color: var(--black);
--swatch-disabled-icon-border-opacity: 0.51;
--table-row-down-opacity: 0.1;
--table-row-hover-color: var(--gray-900);
--table-row-hover-opacity: 0.07;
--table-selected-row-background-color: var(--informative-background-color-default);
--table-selected-row-background-color-non-emphasized: var(--neutral-background-color-selected-default);
--table-selected-row-background-opacity: 0.1;
--table-selected-row-background-opacity-hover: 0.15;
--table-selected-row-background-opacity-non-emphasized: 0.1;
--table-selected-row-background-opacity-non-emphasized-hover: 0.15;
--thumbnail-border-color: var(--gray-800);
--thumbnail-border-opacity: 0.1;
--thumbnail-opacity-disabled: var(--opacity-disabled);
}
