:root {
--arrow-icon-size-75: 10px;
--arrow-icon-size-100: 10px;
--arrow-icon-size-200: 12px;
--arrow-icon-size-300: 14px;
--arrow-icon-size-400: 16px;
--arrow-icon-size-500: 18px;
--arrow-icon-size-600: 20px;
--asterisk-icon-size-75: 8px;
--asterisk-icon-size-100: 8px;
--asterisk-icon-size-200: 10px;
--asterisk-icon-size-300: 10px;
--checkmark-icon-size-50: 10px;
--checkmark-icon-size-75: 10px;
--checkmark-icon-size-100: 10px;
--checkmark-icon-size-200: 12px;
--checkmark-icon-size-300: 14px;
--checkmark-icon-size-400: 16px;
--checkmark-icon-size-500: 16px;
--checkmark-icon-size-600: 18px;
--chevron-icon-size-50: 6px;
--chevron-icon-size-75: 10px;
--chevron-icon-size-100: 10px;
--chevron-icon-size-200: 12px;
--chevron-icon-size-300: 14px;
--chevron-icon-size-400: 16px;
--chevron-icon-size-500: 16px;
--chevron-icon-size-600: 18px;
--corner-triangle-icon-size-75: 5px;
--corner-triangle-icon-size-100: 5px;
--corner-triangle-icon-size-200: 6px;
--corner-triangle-icon-size-300: 7px;
--cross-icon-size-75: 8px;
--cross-icon-size-100: 8px;
--cross-icon-size-200: 10px;
--cross-icon-size-300: 12px;
--cross-icon-size-400: 12px;
--cross-icon-size-500: 14px;
--cross-icon-size-600: 16px;
--dash-icon-size-50: 8px;
--dash-icon-size-75: 8px;
--dash-icon-size-100: 10px;
--dash-icon-size-200: 12px;
--dash-icon-size-300: 12px;
--dash-icon-size-400: 14px;
--dash-icon-size-500: 16px;
--dash-icon-size-600: 18px;
--icon-color-blue-primary-default: var(--blue-800);
--icon-color-green-primary-default: var(--green-800);
--icon-color-inverse: var(--gray-50);
--icon-color-primary-default: var(--neutral-content-color-default);
--icon-color-red-primary-default: var(--red-700);
--icon-color-yellow-primary-default: var(--yellow-1000);
--workflow-icon-size-50: 14px;
--workflow-icon-size-75: 16px;
--workflow-icon-size-100: 18px;
--workflow-icon-size-200: 20px;
--workflow-icon-size-300: 22px;
}
