:root {
--android-elevation: 2dp;
--border-width-100: 1px;
--border-width-200: 2px;
--border-width-400: 4px;
--character-count-to-field-quiet-extra-large: -4px;
--character-count-to-field-quiet-large: -3px;
--character-count-to-field-quiet-medium: -3px;
--character-count-to-field-quiet-small: -3px;
--color-control-track-width: 24px;
--component-bottom-to-text-50: 3px;
--component-bottom-to-text-75: 5px;
--component-bottom-to-text-100: 9px;
--component-bottom-to-text-200: 11px;
--component-bottom-to-text-300: 14px;
--component-edge-to-text-50: 8px;
--component-edge-to-text-75: 9px;
--component-edge-to-text-100: 12px;
--component-edge-to-text-200: 15px;
--component-edge-to-text-300: 18px;
--component-edge-to-visual-only-50: 3px;
--component-edge-to-visual-only-75: 4px;
--component-edge-to-visual-only-100: 7px;
--component-edge-to-visual-only-200: 10px;
--component-edge-to-visual-only-300: 13px;
--component-edge-to-visual-50: 6px;
--component-edge-to-visual-75: 7px;
--component-edge-to-visual-100: 10px;
--component-edge-to-visual-200: 13px;
--component-edge-to-visual-300: 15px;
--component-height-50: 20px;
--component-height-75: 24px;
--component-height-100: 32px;
--component-height-200: 40px;
--component-height-300: 48px;
--component-height-400: 56px;
--component-height-500: 64px;
--component-pill-edge-to-text-75: 12px;
--component-pill-edge-to-text-100: 16px;
--component-pill-edge-to-text-200: 20px;
--component-pill-edge-to-text-300: 24px;
--component-pill-edge-to-visual-only-75: 4px;
--component-pill-edge-to-visual-only-100: 7px;
--component-pill-edge-to-visual-only-200: 10px;
--component-pill-edge-to-visual-only-300: 13px;
--component-pill-edge-to-visual-75: 10px;
--component-pill-edge-to-visual-100: 14px;
--component-pill-edge-to-visual-200: 18px;
--component-pill-edge-to-visual-300: 21px;
--component-to-menu-extra-large: 8px;
--component-to-menu-large: 7px;
--component-to-menu-medium: 6px;
--component-to-menu-small: 6px;
--component-top-to-text-50: 3px;
--component-top-to-text-75: 4px;
--component-top-to-text-100: 6px;
--component-top-to-text-200: 9px;
--component-top-to-text-300: 12px;
--component-top-to-workflow-icon-50: 3px;
--component-top-to-workflow-icon-75: 4px;
--component-top-to-workflow-icon-100: 7px;
--component-top-to-workflow-icon-200: 10px;
--component-top-to-workflow-icon-300: 13px;
--corner-radius-75: 2px;
--corner-radius-100: 4px;
--corner-radius-200: 8px;
--disclosure-indicator-top-to-disclosure-icon-extra-large: 17px;
--disclosure-indicator-top-to-disclosure-icon-large: 14px;
--disclosure-indicator-top-to-disclosure-icon-medium: 11px;
--disclosure-indicator-top-to-disclosure-icon-small: 7px;
--drop-shadow-blur: 4px;
--drop-shadow-x: 0px;
--drop-shadow-y: 1px;
--field-edge-to-alert-icon-extra-large: 18px;
--field-edge-to-alert-icon-large: 15px;
--field-edge-to-alert-icon-medium: 12px;
--field-edge-to-alert-icon-quiet: 0px;
--field-edge-to-alert-icon-small: 9px;
--field-edge-to-border-quiet: 0px;
--field-edge-to-disclosure-icon-75: 7px;
--field-edge-to-disclosure-icon-100: 11px;
--field-edge-to-disclosure-icon-200: 14px;
--field-edge-to-disclosure-icon-300: 17px;
--field-edge-to-text-quiet: 0px;
--field-edge-to-validation-icon-extra-large: 18px;
--field-edge-to-validation-icon-large: 15px;
--field-edge-to-validation-icon-medium: 12px;
--field-edge-to-validation-icon-quiet: 0px;
--field-edge-to-validation-icon-small: 9px;
--field-edge-to-visual-quiet: 0px;
--field-end-edge-to-disclosure-icon-75: 7px;
--field-end-edge-to-disclosure-icon-100: 11px;
--field-end-edge-to-disclosure-icon-200: 14px;
--field-end-edge-to-disclosure-icon-300: 17px;
--field-text-to-alert-icon-extra-large: 18px;
--field-text-to-alert-icon-large: 15px;
--field-text-to-alert-icon-medium: 12px;
--field-text-to-alert-icon-small: 8px;
--field-text-to-validation-icon-extra-large: 18px;
--field-text-to-validation-icon-large: 15px;
--field-text-to-validation-icon-medium: 12px;
--field-text-to-validation-icon-small: 8px;
--field-top-to-alert-icon-extra-large: 13px;
--field-top-to-alert-icon-large: 10px;
--field-top-to-alert-icon-medium: 7px;
--field-top-to-alert-icon-small: 4px;
--field-top-to-disclosure-icon-75: 7px;
--field-top-to-disclosure-icon-100: 11px;
--field-top-to-disclosure-icon-200: 14px;
--field-top-to-disclosure-icon-300: 17px;
--field-top-to-progress-circle-extra-large: 16px;
--field-top-to-progress-circle-large: 12px;
--field-top-to-progress-circle-medium: 8px;
--field-top-to-progress-circle-small: 4px;
--field-top-to-validation-icon-extra-large: 17px;
--field-top-to-validation-icon-large: 14px;
--field-top-to-validation-icon-medium: 11px;
--field-top-to-validation-icon-small: 7px;
--field-width: 192px;
--focus-indicator-gap: 2px;
--focus-indicator-thickness: 2px;
--navigational-indicator-top-to-back-icon-extra-large: 15px;
--navigational-indicator-top-to-back-icon-large: 12px;
--navigational-indicator-top-to-back-icon-medium: 9px;
--navigational-indicator-top-to-back-icon-small: 6px;
--side-label-character-count-to-field: 12px;
--side-label-character-count-top-margin-extra-large: 14px;
--side-label-character-count-top-margin-large: 11px;
--side-label-character-count-top-margin-medium: 8px;
--side-label-character-count-top-margin-small: 4px;
--spacing-50: 2px;
--spacing-75: 4px;
--spacing-100: 8px;
--spacing-200: 12px;
--spacing-300: 16px;
--spacing-400: 24px;
--spacing-500: 32px;
--spacing-600: 40px;
--spacing-700: 48px;
--spacing-800: 64px;
--spacing-900: 80px;
--spacing-1000: 96px;
--text-to-control-75: 9px;
--text-to-control-100: 10px;
--text-to-control-200: 11px;
--text-to-control-300: 13px;
--text-to-visual-50: 6px;
--text-to-visual-75: 7px;
--text-to-visual-100: 8px;
--text-to-visual-200: 9px;
--text-to-visual-300: 10px;
--text-underline-gap: 1px;
--text-underline-thickness: 1px;
}
