:root {
--accordion-bottom-to-text-compact-extra-large: 8px;
--accordion-bottom-to-text-compact-large: 8px;
--accordion-bottom-to-text-compact-medium: 5px;
--accordion-bottom-to-text-compact-small: 2px;
--accordion-bottom-to-text-regular-extra-large: 12px;
--accordion-bottom-to-text-regular-large: 11px;
--accordion-bottom-to-text-regular-medium: 9px;
--accordion-bottom-to-text-regular-small: 7px;
--accordion-bottom-to-text-spacious-extra-large: 16px;
--accordion-bottom-to-text-spacious-large: 16px;
--accordion-bottom-to-text-spacious-medium: 13px;
--accordion-bottom-to-text-spacious-small: 11px;
--accordion-content-area-bottom-to-content: 16px;
--accordion-content-area-top-to-content: 8px;
--accordion-disclosure-indicator-to-text: 0px;
--accordion-edge-to-disclosure-indicator: 0px;
--accordion-edge-to-text: 0px;
--accordion-focus-indicator-gap: 0px;
--accordion-minimum-width: 200px;
--accordion-small-top-to-text-spacious: 9px;
--accordion-top-to-text-compact-extra-large: 5px;
--accordion-top-to-text-compact-large: 4px;
--accordion-top-to-text-compact-medium: 4px;
--accordion-top-to-text-compact-small: 2px;
--accordion-top-to-text-regular-extra-large: 9px;
--accordion-top-to-text-regular-large: 9px;
--accordion-top-to-text-regular-medium: 8px;
--accordion-top-to-text-regular-small: 5px;
--accordion-top-to-text-spacious-extra-large: 13px;
--accordion-top-to-text-spacious-large: 12px;
--accordion-top-to-text-spacious-medium: 12px;
--accordion-top-to-text-spacious-small: 9px;
--action-bar-height: 48px;
--action-bar-top-to-item-counter: 14px;
--action-button-edge-to-hold-icon-extra-large: 6px;
--action-button-edge-to-hold-icon-extra-small: 3px;
--action-button-edge-to-hold-icon-large: 5px;
--action-button-edge-to-hold-icon-medium: 4px;
--action-button-edge-to-hold-icon-small: 3px;
--alert-banner-bottom-to-text: 17px;
--alert-banner-minimum-height: 48px;
--alert-banner-to-bottom-text: var(--alert-banner-bottom-to-text);
--alert-banner-to-top-text: var(--alert-banner-top-to-text);
--alert-banner-to-top-workflow-icon: var(--alert-banner-top-to-workflow-icon);
--alert-banner-top-to-text: 14px;
--alert-banner-top-to-workflow-icon: 15px;
--alert-banner-width: 832px;
--alert-dialog-description-size: var(--body-size-s);
--alert-dialog-maximum-width: 480px;
--alert-dialog-minimum-width: 288px;
--alert-dialog-title-size: var(--heading-size-s);
--avatar-size-50: 16px;
--avatar-size-75: 18px;
--avatar-size-100: 20px;
--avatar-size-200: 22px;
--avatar-size-300: 26px;
--avatar-size-400: 28px;
--avatar-size-500: 32px;
--avatar-size-600: 36px;
--avatar-size-700: 40px;
--body-cjk-size-l: var(--font-size-200);
--body-cjk-size-m: var(--font-size-100);
--body-cjk-size-s: var(--font-size-75);
--body-cjk-size-xl: var(--font-size-300);
--body-cjk-size-xs: var(--font-size-50);
--body-cjk-size-xxl: var(--font-size-400);
--body-cjk-size-xxxl: var(--font-size-500);
--breadcrumbs-bottom-to-text: 15px;
--breadcrumbs-bottom-to-text-compact: 12px;
--breadcrumbs-bottom-to-text-multiline: 9px;
--breadcrumbs-end-edge-to-text: 0px;
--breadcrumbs-height: var(--component-height-300);
--breadcrumbs-height-compact: var(--component-height-200);
--breadcrumbs-height-multiline: 72px;
--breadcrumbs-separator-icon-to-bottom-text-multiline: 11px;
--breadcrumbs-start-edge-to-text: 8px;
--breadcrumbs-start-edge-to-truncated-menu: 0px;
--breadcrumbs-top-text-to-bottom-text: 9px;
--breadcrumbs-top-to-separator-icon: 19px;
--breadcrumbs-top-to-separator-icon-compact: 15px;
--breadcrumbs-top-to-separator-icon-multiline: 15px;
--breadcrumbs-top-to-text: 13px;
--breadcrumbs-top-to-text-compact: 11px;
--breadcrumbs-top-to-text-multiline: 12px;
--breadcrumbs-top-to-truncated-menu: 8px;
--breadcrumbs-top-to-truncated-menu-compact: 4px;
--breadcrumbs-truncated-menu-to-bottom-text: 0px;
--breadcrumbs-truncated-menu-to-separator-icon: 0px;
--button-minimum-width-multiplier: 2.25;
--card-minimum-width: 100px;
--card-preview-minimum-height: 130px;
--card-selection-background-size: 40px;
--checkbox-control-size-extra-large: 18px;
--checkbox-control-size-large: 16px;
--checkbox-control-size-medium: 14px;
--checkbox-control-size-small: 12px;
--checkbox-top-to-control-extra-large: 15px;
--checkbox-top-to-control-large: 12px;
--checkbox-top-to-control-medium: 9px;
--checkbox-top-to-control-small: 6px;
--coach-mark-body-size: var(--body-size-s);
--coach-mark-edge-to-content: var(--spacing-400);
--coach-mark-maximum-width: 380px;
--coach-mark-media-height: 222px;
--coach-mark-media-minimum-height: 166px;
--coach-mark-minimum-width: 296px;
--coach-mark-pagination-body-size: var(--body-size-s);
--coach-mark-pagination-text-to-bottom-edge: 33px;
--coach-mark-title-size: var(--heading-size-xs);
--coach-mark-width: 296px;
--color-area-border-rounding: var(--corner-radius-100);
--color-area-border-width: var(--border-width-100);
--color-area-height: 192px;
--color-area-minimum-height: 64px;
--color-area-minimum-width: 64px;
--color-area-width: 192px;
--color-handle-border-width: var(--border-width-200);
--color-handle-drop-shadow-blur: 0;
--color-handle-drop-shadow-x: 0;
--color-handle-drop-shadow-y: 0;
--color-handle-inner-border-width: 1px;
--color-handle-outer-border-width: 1px;
--color-handle-size: 16px;
--color-handle-size-key-focus: 32px;
--color-loupe-bottom-to-color-handle: 12px;
--color-loupe-drop-shadow-blur: 8px;
--color-loupe-drop-shadow-y: 2px;
--color-loupe-height: 64px;
--color-loupe-inner-border-width: 1px;
--color-loupe-outer-border-width: var(--border-width-200);
--color-loupe-width: 48px;
--color-slider-border-rounding: 4px;
--color-slider-border-width: 1px;
--color-slider-length: 192px;
--color-slider-minimum-length: 80px;
--color-wheel-color-area-margin: 12px;
--color-wheel-minimum-width: 175px;
--color-wheel-width: 192px;
--combo-box-minimum-width-multiplier: 2.50;
--combo-box-quiet-minimum-width-multiplier: 2;
--combo-box-visual-to-field-button-extra-large: 10px;
--combo-box-visual-to-field-button-large: 9px;
--combo-box-visual-to-field-button-medium: 8px;
--combo-box-visual-to-field-button-quiet: 0px;
--combo-box-visual-to-field-button-small: 7px;
--contextual-help-body-size: var(--body-size-s);
--contextual-help-minimum-width: 268px;
--contextual-help-title-size: var(--heading-size-xs);
--detail-cjk-size-l: var(--font-size-75);
--detail-cjk-size-m: var(--font-size-50);
--detail-cjk-size-s: var(--font-size-25);
--detail-cjk-size-xl: var(--font-size-100);
--divider-thickness-large: 4px;
--divider-thickness-medium: 2px;
--divider-thickness-small: 1px;
--drop-zone-body-size: var(--illustrated-message-body-size);
--drop-zone-border-dash-gap: 4px;
--drop-zone-border-dash-length: 8px;
--drop-zone-cjk-title-size: var(--illustrated-message-cjk-title-size);
--drop-zone-content-maximum-width: var(--illustrated-message-maximum-width);
--drop-zone-title-size: var(--illustrated-message-title-size);
--drop-zone-width: 428px;
--field-label-text-to-asterisk-extra-large: 5px;
--field-label-text-to-asterisk-large: 5px;
--field-label-text-to-asterisk-medium: 4px;
--field-label-text-to-asterisk-small: 4px;
--field-label-to-component: 0px;
--field-label-to-component-quiet-extra-large: -15px;
--field-label-to-component-quiet-large: -12px;
--field-label-to-component-quiet-medium: -8px;
--field-label-to-component-quiet-small: -8px;
--field-label-top-margin-extra-large: 5px;
--field-label-top-margin-large: 5px;
--field-label-top-margin-medium: 4px;
--field-label-top-margin-small: 0px;
--field-label-top-to-asterisk-extra-large: 19px;
--field-label-top-to-asterisk-large: 15px;
--field-label-top-to-asterisk-medium: 12px;
--field-label-top-to-asterisk-small: 8px;
--floating-action-button-drop-shadow-blur: 12px;
--floating-action-button-drop-shadow-y: 4px;
--help-text-to-component: 0px;
--help-text-top-to-workflow-icon-extra-large: 9px;
--help-text-top-to-workflow-icon-large: 6px;
--help-text-top-to-workflow-icon-medium: 3px;
--help-text-top-to-workflow-icon-small: 4px;
--illustrated-message-body-size: var(--body-size-s);
--illustrated-message-cjk-title-size: var(--heading-cjk-size-m);
--illustrated-message-maximum-width: 380px;
--illustrated-message-title-size: var(--heading-size-m);
--in-field-button-edge-to-disclosure-icon-stacked-extra-large: 16px;
--in-field-button-edge-to-disclosure-icon-stacked-large: 13px;
--in-field-button-edge-to-disclosure-icon-stacked-medium: 9px;
--in-field-button-edge-to-disclosure-icon-stacked-small: 7px;
--in-field-button-edge-to-fill: 0px;
--in-field-button-fill-stacked-inner-border-rounding: 0px;
--in-field-button-inner-edge-to-disclosure-icon-stacked-extra-large: var(--in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large);
--in-field-button-inner-edge-to-disclosure-icon-stacked-large: var(--in-field-button-outer-edge-to-disclosure-icon-stacked-large);
--in-field-button-inner-edge-to-disclosure-icon-stacked-medium: var(--in-field-button-outer-edge-to-disclosure-icon-stacked-medium);
--in-field-button-inner-edge-to-disclosure-icon-stacked-small: var(--in-field-button-outer-edge-to-disclosure-icon-stacked-small);
--in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large: 5px;
--in-field-button-outer-edge-to-disclosure-icon-stacked-large: 4px;
--in-field-button-outer-edge-to-disclosure-icon-stacked-medium: 3px;
--in-field-button-outer-edge-to-disclosure-icon-stacked-small: 3px;
--in-field-button-stacked-inner-edge-to-fill: 0px;
--in-field-button-width-stacked-extra-large: 44px;
--in-field-button-width-stacked-large: 36px;
--in-field-button-width-stacked-medium: 28px;
--in-field-button-width-stacked-small: 20px;
--in-line-alert-minimum-width: 240px;
--menu-item-edge-to-content-not-selected-extra-large: 45px;
--menu-item-edge-to-content-not-selected-large: 38px;
--menu-item-edge-to-content-not-selected-medium: 32px;
--menu-item-edge-to-content-not-selected-small: 28px;
--menu-item-label-to-description: 1px;
--menu-item-section-divider-height: 8px;
--menu-item-top-to-disclosure-icon-extra-large: 17px;
--menu-item-top-to-disclosure-icon-large: 14px;
--menu-item-top-to-disclosure-icon-medium: 11px;
--menu-item-top-to-disclosure-icon-small: 7px;
--menu-item-top-to-selected-icon-extra-large: 17px;
--menu-item-top-to-selected-icon-large: 14px;
--menu-item-top-to-selected-icon-medium: 11px;
--menu-item-top-to-selected-icon-small: 7px;
--meter-default-width: var(--meter-width);
--meter-maximum-width: 768px;
--meter-minimum-width: 48px;
--meter-thickness-large: 6px;
--meter-thickness-small: 4px;
--meter-width: 192px;
--opacity-checkerboard-square-size: 8px;
--picker-border-width: var(--border-width-100);
--picker-end-edge-to-disclosure-icon-quiet: 0px;
--picker-end-edge-to-disclousure-icon-quiet: var(--picker-end-edge-to-disclosure-icon-quiet);
--picker-minimum-width-multiplier: 2;
--picker-visual-to-disclosure-icon-extra-large: 10px;
--picker-visual-to-disclosure-icon-large: 9px;
--picker-visual-to-disclosure-icon-medium: 8px;
--picker-visual-to-disclosure-icon-small: 7px;
--popover-tip-height: 8px;
--popover-tip-width: 16px;
--popover-top-to-content-area: 4px;
--progress-bar-maximum-width: 768px;
--progress-bar-minimum-width: 48px;
--progress-bar-thickness-extra-large: 10px;
--progress-bar-thickness-large: 8px;
--progress-bar-thickness-medium: 6px;
--progress-bar-thickness-small: 4px;
--progress-circle-size-large: 64px;
--progress-circle-size-medium: 32px;
--progress-circle-size-small: 16px;
--progress-circle-thickness-large: 4px;
--progress-circle-thickness-medium: 3px;
--progress-circle-thickness-small: 2px;
--radio-button-control-size-extra-large: 18px;
--radio-button-control-size-large: 16px;
--radio-button-control-size-medium: 14px;
--radio-button-control-size-small: 12px;
--radio-button-selection-indicator: 4px;
--radio-button-top-to-control-extra-large: 15px;
--radio-button-top-to-control-large: 12px;
--radio-button-top-to-control-medium: 9px;
--radio-button-top-to-control-small: 6px;
--rating-indicator-to-icon: 4px;
--rating-indicator-width: 18px;
--search-field-minimum-width-multiplier: 3;
--side-navigation-bottom-to-text: 8px;
--side-navigation-header-to-item: 8px;
--side-navigation-item-to-header: 24px;
--side-navigation-item-to-item: 4px;
--side-navigation-maximum-width: 240px;
--side-navigation-minimum-width: 160px;
--side-navigation-second-level-edge-to-text: 24px;
--side-navigation-third-level-edge-to-text: 36px;
--side-navigation-width: 192px;
--side-navigation-with-icon-second-level-edge-to-text: 50px;
--side-navigation-with-icon-third-level-edge-to-text: 62px;
--slider-bottom-to-handle-extra-large: 14px;
--slider-bottom-to-handle-large: 11px;
--slider-bottom-to-handle-medium: 8px;
--slider-bottom-to-handle-small: 5px;
--slider-control-height-extra-large: 20px;
--slider-control-height-large: 18px;
--slider-control-height-medium: 16px;
--slider-control-height-small: 14px;
--slider-control-to-field-label-extra-large: 14px;
--slider-control-to-field-label-large: 11px;
--slider-control-to-field-label-medium: 8px;
--slider-control-to-field-label-small: 5px;
--slider-handle-border-width-down-extra-large: 8px;
--slider-handle-border-width-down-large: 7px;
--slider-handle-border-width-down-medium: 6px;
--slider-handle-border-width-down-small: 5px;
--slider-handle-gap: 4px;
--slider-handle-size-extra-large: 20px;
--slider-handle-size-large: 18px;
--slider-handle-size-medium: 16px;
--slider-handle-size-small: 14px;
--slider-track-thickness: 2px;
--status-light-dot-size-extra-large: 10px;
--status-light-dot-size-large: 10px;
--status-light-dot-size-medium: 8px;
--status-light-dot-size-small: 8px;
--status-light-top-to-dot-extra-large: 19px;
--status-light-top-to-dot-large: 15px;
--status-light-top-to-dot-medium: 12px;
--status-light-top-to-dot-small: 8px;
--swatch-rectangle-width-multiplier: 2;
--swatch-size-extra-small: 16px;
--swatch-size-large: 40px;
--swatch-size-medium: 32px;
--swatch-size-small: 24px;
--swatch-slash-thickness-extra-small: 2px;
--swatch-slash-thickness-large: 5px;
--swatch-slash-thickness-medium: 4px;
--swatch-slash-thickness-small: 3px;
--switch-control-height-extra-large: 18px;
--switch-control-height-large: 16px;
--switch-control-height-medium: 14px;
--switch-control-height-small: 12px;
--switch-control-width-extra-large: 33px;
--switch-control-width-large: 29px;
--switch-control-width-medium: 26px;
--switch-control-width-small: 23px;
--switch-top-to-control-extra-large: 15px;
--switch-top-to-control-large: 12px;
--switch-top-to-control-medium: 9px;
--switch-top-to-control-small: 6px;
--tab-item-bottom-to-text-compact-extra-large: 13px;
--tab-item-bottom-to-text-compact-large: 12px;
--tab-item-bottom-to-text-compact-medium: 8px;
--tab-item-bottom-to-text-compact-small: 5px;
--tab-item-bottom-to-text-extra-large: 20px;
--tab-item-bottom-to-text-large: 18px;
--tab-item-bottom-to-text-medium: 14px;
--tab-item-bottom-to-text-small: 12px;
--tab-item-compact-height-extra-large: var(--component-height-300);
--tab-item-compact-height-large: var(--component-height-200);
--tab-item-compact-height-medium: var(--component-height-100);
--tab-item-compact-height-small: var(--component-height-75);
--tab-item-focus-indicator-gap-extra-large: 10px;
--tab-item-focus-indicator-gap-large: 9px;
--tab-item-focus-indicator-gap-medium: 8px;
--tab-item-focus-indicator-gap-small: 7px;
--tab-item-height-extra-large: var(--component-height-500);
--tab-item-height-large: var(--component-height-400);
--tab-item-height-medium: var(--component-height-300);
--tab-item-height-small: var(--component-height-200);
--tab-item-start-to-edge-extra-large: 13px;
--tab-item-start-to-edge-large: 13px;
--tab-item-start-to-edge-medium: 12px;
--tab-item-start-to-edge-quiet: 0px;
--tab-item-start-to-edge-small: 12px;
--tab-item-to-tab-item-horizontal-extra-large: 30px;
--tab-item-to-tab-item-horizontal-large: 27px;
--tab-item-to-tab-item-horizontal-medium: 24px;
--tab-item-to-tab-item-horizontal-small: 21px;
--tab-item-to-tab-item-vertical-extra-large: 5px;
--tab-item-to-tab-item-vertical-large: 5px;
--tab-item-to-tab-item-vertical-medium: 4px;
--tab-item-to-tab-item-vertical-small: 4px;
--tab-item-top-to-text-compact-extra-large: 12px;
--tab-item-top-to-text-compact-large: 10px;
--tab-item-top-to-text-compact-medium: 6px;
--tab-item-top-to-text-compact-small: 4px;
--tab-item-top-to-text-extra-large: 19px;
--tab-item-top-to-text-large: 16px;
--tab-item-top-to-text-medium: 14px;
--tab-item-top-to-text-small: 11px;
--tab-item-top-to-workflow-icon-compact-extra-large: 11px;
--tab-item-top-to-workflow-icon-compact-large: 9px;
--tab-item-top-to-workflow-icon-compact-medium: 7px;
--tab-item-top-to-workflow-icon-compact-small: 3px;
--tab-item-top-to-workflow-icon-extra-large: 19px;
--tab-item-top-to-workflow-icon-large: 17px;
--tab-item-top-to-workflow-icon-medium: 15px;
--tab-item-top-to-workflow-icon-small: 13px;
--table-border-divider-width: 1px;
--table-checkbox-to-text: 24px;
--table-column-header-row-bottom-to-text-extra-large: 13px;
--table-column-header-row-bottom-to-text-large: 10px;
--table-column-header-row-bottom-to-text-medium: 8px;
--table-column-header-row-bottom-to-text-small: 9px;
--table-column-header-row-top-to-text-extra-large: 13px;
--table-column-header-row-top-to-text-large: 10px;
--table-column-header-row-top-to-text-medium: 7px;
--table-column-header-row-top-to-text-small: 8px;
--table-edge-to-content: 16px;
--table-header-row-checkbox-to-top-extra-large: 15px;
--table-header-row-checkbox-to-top-large: 12px;
--table-header-row-checkbox-to-top-medium: 9px;
--table-header-row-checkbox-to-top-small: 10px;
--table-row-bottom-to-text-extra-large-compact: var(--component-bottom-to-text-300);
--table-row-bottom-to-text-extra-large-regular: 17px;
--table-row-bottom-to-text-extra-large-spacious: 21px;
--table-row-bottom-to-text-large-compact: var(--component-bottom-to-text-200);
--table-row-bottom-to-text-large-regular: 14px;
--table-row-bottom-to-text-large-spacious: 18px;
--table-row-bottom-to-text-medium-compact: var(--component-bottom-to-text-100);
--table-row-bottom-to-text-medium-regular: 12px;
--table-row-bottom-to-text-medium-spacious: 16px;
--table-row-bottom-to-text-small-compact: var(--component-bottom-to-text-75);
--table-row-bottom-to-text-small-regular: 9px;
--table-row-bottom-to-text-small-spacious: 13px;
--table-row-checkbox-to-top-extra-large-compact: 15px;
--table-row-checkbox-to-top-extra-large-regular: 19px;
--table-row-checkbox-to-top-extra-large-spacious: 23px;
--table-row-checkbox-to-top-large-compact: 12px;
--table-row-checkbox-to-top-large-regular: 16px;
--table-row-checkbox-to-top-large-spacious: 20px;
--table-row-checkbox-to-top-medium-compact: 9px;
--table-row-checkbox-to-top-medium-regular: 13px;
--table-row-checkbox-to-top-medium-spacious: 17px;
--table-row-checkbox-to-top-small-compact: 6px;
--table-row-checkbox-to-top-small-regular: 10px;
--table-row-checkbox-to-top-small-spacious: 14px;
--table-row-height-extra-large-compact: var(--component-height-300);
--table-row-height-extra-large-regular: 56px;
--table-row-height-extra-large-spacious: 64px;
--table-row-height-large-compact: var(--component-height-200);
--table-row-height-large-regular: 48px;
--table-row-height-large-spacious: 56px;
--table-row-height-medium-compact: var(--component-height-100);
--table-row-height-medium-regular: 40px;
--table-row-height-medium-spacious: 48px;
--table-row-height-small-compact: var(--component-height-75);
--table-row-height-small-regular: 32px;
--table-row-height-small-spacious: 40px;
--table-row-top-to-text-extra-large-compact: var(--component-top-to-text-300);
--table-row-top-to-text-extra-large-regular: 17px;
--table-row-top-to-text-extra-large-spacious: 21px;
--table-row-top-to-text-large-compact: var(--component-top-to-text-200);
--table-row-top-to-text-large-regular: 14px;
--table-row-top-to-text-large-spacious: 18px;
--table-row-top-to-text-medium-compact: var(--component-top-to-text-100);
--table-row-top-to-text-medium-regular: 11px;
--table-row-top-to-text-medium-spacious: 15px;
--table-row-top-to-text-small-compact: var(--component-top-to-text-75);
--table-row-top-to-text-small-regular: 8px;
--table-row-top-to-text-small-spacious: 12px;
--table-section-header-row-height-extra-large: 48px;
--table-section-header-row-height-large: 40px;
--table-section-header-row-height-medium: 32px;
--table-section-header-row-height-small: 24px;
--table-thumbnail-to-top-minimum-extra-large-compact: 8px;
--table-thumbnail-to-top-minimum-extra-large-regular: 8px;
--table-thumbnail-to-top-minimum-extra-large-spacious: 10px;
--table-thumbnail-to-top-minimum-large-compact: 7px;
--table-thumbnail-to-top-minimum-large-regular: 8px;
--table-thumbnail-to-top-minimum-large-spacious: 8px;
--table-thumbnail-to-top-minimum-medium-compact: 5px;
--table-thumbnail-to-top-minimum-medium-regular: 7px;
--table-thumbnail-to-top-minimum-medium-spacious: 8px;
--table-thumbnail-to-top-minimum-small-compact: 4px;
--table-thumbnail-to-top-minimum-small-regular: 5px;
--table-thumbnail-to-top-minimum-small-spacious: 7px;
--tag-top-to-avatar-large: 9px;
--tag-top-to-avatar-medium: 6px;
--tag-top-to-avatar-small: 4px;
--tag-top-to-cross-icon-large: 15px;
--tag-top-to-cross-icon-medium: 12px;
--tag-top-to-cross-icon-small: 8px;
--text-area-minimum-height: 56px;
--text-area-minimum-width: 112px;
--text-field-minimum-width-multiplier: 1.50;
--thumbnail-size-50: 16px;
--thumbnail-size-75: 18px;
--thumbnail-size-100: 20px;
--thumbnail-size-200: 22px;
--thumbnail-size-300: 26px;
--thumbnail-size-400: 28px;
--thumbnail-size-500: 32px;
--thumbnail-size-600: 36px;
--thumbnail-size-700: 40px;
--thumbnail-size-800: 44px;
--thumbnail-size-900: 50px;
--thumbnail-size-1000: 56px;
--toast-bottom-to-text: 17px;
--toast-height: 48px;
--toast-maximum-width: 336px;
--toast-top-to-text: 14px;
--toast-top-to-workflow-icon: 15px;
--tooltip-maximum-width: 160px;
--tooltip-tip-height: 4px;
--tooltip-tip-width: 8px;
--tray-top-to-content-area: 4px;
}
