:root {
--black-font-weight: black;
--body-cjk-emphasized-font-style: var(--default-font-style);
--body-cjk-emphasized-font-weight: var(--extra-bold-font-weight);
--body-cjk-font-family: var(--cjk-font-family);
--body-cjk-font-style: var(--default-font-style);
--body-cjk-font-weight: var(--regular-font-weight);
--body-cjk-line-height: var(--cjk-line-height-200);
--body-cjk-strong-emphasized-font-style: var(--default-font-style);
--body-cjk-strong-emphasized-font-weight: var(--extra-bold-font-weight);
--body-cjk-strong-font-style: var(--default-font-style);
--body-cjk-strong-font-weight: var(--extra-bold-font-weight);
--body-color: var(--gray-800);
--body-line-height: var(--line-height-200);
--body-margin-multiplier: 0.75;
--body-sans-serif-emphasized-font-style: var(--italic-font-style);
--body-sans-serif-emphasized-font-weight: var(--regular-font-weight);
--body-sans-serif-font-family: var(--sans-serif-font-family);
--body-sans-serif-font-style: var(--default-font-style);
--body-sans-serif-font-weight: var(--regular-font-weight);
--body-sans-serif-strong-emphasized-font-style: var(--italic-font-style);
--body-sans-serif-strong-emphasized-font-weight: var(--bold-font-weight);
--body-sans-serif-strong-font-style: var(--default-font-style);
--body-sans-serif-strong-font-weight: var(--bold-font-weight);
--body-serif-emphasized-font-style: var(--italic-font-style);
--body-serif-emphasized-font-weight: var(--regular-font-weight);
--body-serif-font-family: var(--serif-font-family);
--body-serif-font-style: var(--default-font-style);
--body-serif-font-weight: var(--regular-font-weight);
--body-serif-strong-emphasized-font-style: var(--italic-font-style);
--body-serif-strong-emphasized-font-weight: var(--bold-font-weight);
--body-serif-strong-font-style: var(--default-font-style);
--body-serif-strong-font-weight: var(--bold-font-weight);
--body-size-l: var(--font-size-300);
--body-size-m: var(--font-size-200);
--body-size-s: var(--font-size-100);
--body-size-xl: var(--font-size-400);
--body-size-xs: var(--font-size-75);
--body-size-xxl: var(--font-size-500);
--body-size-xxxl: var(--font-size-600);
--bold-font-weight: bold;
--cjk-font-family: Adobe Clean Han;
--cjk-letter-spacing: var(--letter-spacing);
--cjk-line-height-100: 1.50;
--cjk-line-height-200: 1.70;
--code-cjk-emphasized-font-style: var(--default-font-style);
--code-cjk-emphasized-font-weight: var(--bold-font-weight);
--code-cjk-font-family: var(--code-font-family);
--code-cjk-font-style: var(--default-font-style);
--code-cjk-font-weight: var(--regular-font-weight);
--code-cjk-line-height: var(--cjk-line-height-200);
--code-cjk-strong-emphasized-font-style: var(--default-font-style);
--code-cjk-strong-emphasized-font-weight: var(--black-font-weight);
--code-cjk-strong-font-style: var(--default-font-style);
--code-cjk-strong-font-weight: var(--black-font-weight);
--code-color: var(--gray-800);
--code-emphasized-font-style: var(--italic-font-style);
--code-emphasized-font-weight: var(--regular-font-weight);
--code-font-family: Source Code Pro;
--code-font-style: var(--default-font-style);
--code-font-weight: var(--regular-font-weight);
--code-line-height: var(--line-height-200);
--code-size-l: var(--font-size-300);
--code-size-m: var(--font-size-200);
--code-size-s: var(--font-size-100);
--code-size-xl: var(--font-size-400);
--code-size-xs: var(--font-size-75);
--code-strong-emphasized-font-style: var(--italic-font-style);
--code-strong-emphasized-font-weight: var(--bold-font-weight);
--code-strong-font-style: var(--default-font-style);
--code-strong-font-weight: var(--bold-font-weight);
--default-font-family: var(--sans-serif-font-family);
--default-font-style: normal;
--detail-cjk-emphasized-font-style: var(--default-font-style);
--detail-cjk-emphasized-font-weight: var(--extra-bold-font-weight);
--detail-cjk-font-family: var(--cjk-font-family);
--detail-cjk-font-style: var(--default-font-style);
--detail-cjk-font-weight: var(--extra-bold-font-weight);
--detail-cjk-light-emphasized-font-style: var(--default-font-style);
--detail-cjk-light-emphasized-font-weight: var(--regular-font-weight);
--detail-cjk-light-font-style: var(--default-font-style);
--detail-cjk-light-font-weight: var(--light-font-weight);
--detail-cjk-light-strong-emphasized-font-style: var(--default-font-style);
--detail-cjk-light-strong-emphasized-font-weight: var(--extra-bold-font-weight);
--detail-cjk-light-strong-font-style: var(--default-font-style);
--detail-cjk-light-strong-font-weight: var(--extra-bold-font-weight);
--detail-cjk-line-height: var(--cjk-line-height-100);
--detail-cjk-strong-emphasized-font-style: var(--default-font-style);
--detail-cjk-strong-emphasized-font-weight: var(--extra-bold-font-weight);
--detail-cjk-strong-font-style: var(--default-font-style);
--detail-cjk-strong-font-weight: var(--extra-bold-font-weight);
--detail-color: var(--gray-900);
--detail-letter-spacing: 0.06em;
--detail-line-height: var(--line-height-100);
--detail-margin-bottom-multiplier: 0.25;
--detail-margin-top-multiplier: 0.89;
--detail-sans-serif-emphasized-font-style: var(--italic-font-style);
--detail-sans-serif-emphasized-font-weight: var(--bold-font-weight);
--detail-sans-serif-font-family: var(--sans-serif-font-family);
--detail-sans-serif-font-style: var(--default-font-style);
--detail-sans-serif-font-weight: var(--bold-font-weight);
--detail-sans-serif-light-emphasized-font-style: var(--italic-font-style);
--detail-sans-serif-light-emphasized-font-weight: var(--regular-font-weight);
--detail-sans-serif-light-font-style: var(--default-font-style);
--detail-sans-serif-light-font-weight: var(--regular-font-weight);
--detail-sans-serif-light-strong-emphasized-font-style: var(--italic-font-style);
--detail-sans-serif-light-strong-emphasized-font-weight: var(--regular-font-weight);
--detail-sans-serif-light-strong-font-style: var(--default-font-style);
--detail-sans-serif-light-strong-font-weight: var(--regular-font-weight);
--detail-sans-serif-strong-emphasized-font-style: var(--italic-font-style);
--detail-sans-serif-strong-emphasized-font-weight: var(--bold-font-weight);
--detail-sans-serif-strong-font-style: var(--default-font-style);
--detail-sans-serif-strong-font-weight: var(--bold-font-weight);
--detail-sans-serif-text-transform: uppercase;
--detail-serif-emphasized-font-style: var(--italic-font-style);
--detail-serif-emphasized-font-weight: var(--bold-font-weight);
--detail-serif-font-family: var(--serif-font-family);
--detail-serif-font-style: var(--default-font-style);
--detail-serif-font-weight: var(--bold-font-weight);
--detail-serif-light-emphasized-font-style: var(--italic-font-style);
--detail-serif-light-emphasized-font-weight: var(--regular-font-weight);
--detail-serif-light-font-style: var(--default-font-style);
--detail-serif-light-font-weight: var(--regular-font-weight);
--detail-serif-light-strong-emphasized-font-style: var(--italic-font-style);
--detail-serif-light-strong-emphasized-font-weight: var(--regular-font-weight);
--detail-serif-light-strong-font-style: var(--default-font-style);
--detail-serif-light-strong-font-weight: var(--regular-font-weight);
--detail-serif-strong-emphasized-font-style: var(--italic-font-style);
--detail-serif-strong-emphasized-font-weight: var(--bold-font-weight);
--detail-serif-strong-font-style: var(--default-font-style);
--detail-serif-strong-font-weight: var(--bold-font-weight);
--detail-serif-text-transform: uppercase;
--detail-size-l: var(--font-size-100);
--detail-size-m: var(--font-size-75);
--detail-size-s: var(--font-size-50);
--detail-size-xl: var(--font-size-200);
--extra-bold-font-weight: extra-bold;
--font-size-25: 10px;
--font-size-50: 11px;
--font-size-75: 12px;
--font-size-100: 14px;
--font-size-200: 16px;
--font-size-300: 18px;
--font-size-400: 20px;
--font-size-500: 22px;
--font-size-600: 25px;
--font-size-700: 28px;
--font-size-800: 32px;
--font-size-900: 36px;
--font-size-1000: 40px;
--font-size-1100: 45px;
--font-size-1200: 50px;
--font-size-1300: 60px;
--heading-cjk-emphasized-font-style: var(--default-font-style);
--heading-cjk-emphasized-font-weight: var(--black-font-weight);
--heading-cjk-font-family: var(--cjk-font-family);
--heading-cjk-font-style: var(--default-font-style);
--heading-cjk-font-weight: var(--extra-bold-font-weight);
--heading-cjk-heavy-emphasized-font-style: var(--default-font-style);
--heading-cjk-heavy-emphasized-font-weight: var(--black-font-weight);
--heading-cjk-heavy-font-style: var(--default-font-style);
--heading-cjk-heavy-font-weight: var(--extra-bold-font-weight);
--heading-cjk-heavy-strong-emphasized-font-style: var(--default-font-style);
--heading-cjk-heavy-strong-emphasized-font-weight: var(--black-font-weight);
--heading-cjk-heavy-strong-font-style: var(--default-font-style);
--heading-cjk-heavy-strong-font-weight: var(--black-font-weight);
--heading-cjk-light-emphasized-font-style: var(--default-font-style);
--heading-cjk-light-emphasized-font-weight: var(--regular-font-weight);
--heading-cjk-light-font-style: var(--default-font-style);
--heading-cjk-light-font-weight: var(--light-font-weight);
--heading-cjk-light-strong-emphasized-font-style: var(--default-font-style);
--heading-cjk-light-strong-emphasized-font-weight: var(--extra-bold-font-weight);
--heading-cjk-light-strong-font-style: var(--default-font-style);
--heading-cjk-light-strong-font-weight: var(--extra-bold-font-weight);
--heading-cjk-line-height: var(--cjk-line-height-100);
--heading-cjk-size-l: var(--font-size-600);
--heading-cjk-size-m: var(--font-size-400);
--heading-cjk-size-s: var(--font-size-200);
--heading-cjk-size-xl: var(--font-size-800);
--heading-cjk-size-xs: var(--font-size-100);
--heading-cjk-size-xxl: var(--font-size-1000);
--heading-cjk-size-xxs: var(--font-size-75);
--heading-cjk-size-xxxl: var(--font-size-1200);
--heading-cjk-strong-emphasized-font-style: var(--default-font-style);
--heading-cjk-strong-emphasized-font-weight: var(--black-font-weight);
--heading-cjk-strong-font-style: var(--default-font-style);
--heading-cjk-strong-font-weight: var(--black-font-weight);
--heading-color: var(--gray-900);
--heading-line-height: var(--line-height-100);
--heading-margin-bottom-multiplier: 0.25;
--heading-margin-top-multiplier: 0.89;
--heading-sans-serif-emphasized-font-style: var(--italic-font-style);
--heading-sans-serif-emphasized-font-weight: var(--bold-font-weight);
--heading-sans-serif-font-family: var(--sans-serif-font-family);
--heading-sans-serif-font-style: var(--default-font-style);
--heading-sans-serif-font-weight: var(--bold-font-weight);
--heading-sans-serif-heavy-emphasized-font-style: var(--italic-font-style);
--heading-sans-serif-heavy-emphasized-font-weight: var(--black-font-weight);
--heading-sans-serif-heavy-font-style: var(--default-font-style);
--heading-sans-serif-heavy-font-weight: var(--black-font-weight);
--heading-sans-serif-heavy-strong-emphasized-font-style: var(--italic-font-style);
--heading-sans-serif-heavy-strong-emphasized-font-weight: var(--black-font-weight);
--heading-sans-serif-heavy-strong-font-style: var(--default-font-style);
--heading-sans-serif-heavy-strong-font-weight: var(--black-font-weight);
--heading-sans-serif-light-emphasized-font-style: var(--italic-font-style);
--heading-sans-serif-light-emphasized-font-weight: var(--light-font-weight);
--heading-sans-serif-light-font-style: var(--default-font-style);
--heading-sans-serif-light-font-weight: var(--light-font-weight);
--heading-sans-serif-light-strong-emphasized-font-style: var(--italic-font-style);
--heading-sans-serif-light-strong-emphasized-font-weight: var(--bold-font-weight);
--heading-sans-serif-light-strong-font-style: var(--default-font-style);
--heading-sans-serif-light-strong-font-weight: var(--bold-font-weight);
--heading-sans-serif-strong-emphasized-font-style: var(--italic-font-style);
--heading-sans-serif-strong-emphasized-font-weight: var(--black-font-weight);
--heading-sans-serif-strong-font-style: var(--default-font-style);
--heading-sans-serif-strong-font-weight: var(--black-font-weight);
--heading-serif-emphasized-font-style: var(--italic-font-style);
--heading-serif-emphasized-font-weight: var(--bold-font-weight);
--heading-serif-font-family: var(--serif-font-family);
--heading-serif-font-style: var(--default-font-style);
--heading-serif-font-weight: var(--bold-font-weight);
--heading-serif-heavy-emphasized-font-style: var(--italic-font-style);
--heading-serif-heavy-emphasized-font-weight: var(--black-font-weight);
--heading-serif-heavy-font-style: var(--default-font-style);
--heading-serif-heavy-font-weight: var(--black-font-weight);
--heading-serif-heavy-strong-emphasized-font-style: var(--italic-font-style);
--heading-serif-heavy-strong-emphasized-font-weight: var(--black-font-weight);
--heading-serif-heavy-strong-font-style: var(--default-font-style);
--heading-serif-heavy-strong-font-weight: var(--black-font-weight);
--heading-serif-light-emphasized-font-style: var(--italic-font-style);
--heading-serif-light-emphasized-font-weight: var(--regular-font-weight);
--heading-serif-light-font-style: var(--default-font-style);
--heading-serif-light-font-weight: var(--regular-font-weight);
--heading-serif-light-strong-emphasized-font-style: var(--italic-font-style);
--heading-serif-light-strong-emphasized-font-weight: var(--bold-font-weight);
--heading-serif-light-strong-font-style: var(--default-font-style);
--heading-serif-light-strong-font-weight: var(--bold-font-weight);
--heading-serif-strong-emphasized-font-style: var(--italic-font-style);
--heading-serif-strong-emphasized-font-weight: var(--black-font-weight);
--heading-serif-strong-font-style: var(--default-font-style);
--heading-serif-strong-font-weight: var(--black-font-weight);
--heading-size-l: var(--font-size-700);
--heading-size-m: var(--font-size-500);
--heading-size-s: var(--font-size-300);
--heading-size-xl: var(--font-size-900);
--heading-size-xs: var(--font-size-200);
--heading-size-xxl: var(--font-size-1100);
--heading-size-xxs: var(--font-size-100);
--heading-size-xxxl: var(--font-size-1300);
--italic-font-style: italic;
--letter-spacing: 0em;
--light-font-weight: light;
--line-height-100: 1.30;
--line-height-200: 1.50;
--medium-font-weight: medium;
--regular-font-weight: regular;
--sans-serif-font-family: Adobe Clean;
--serif-font-family: Adobe Clean Serif;
}
